* {
margin: 0px;
font-family: 'Inter', sans-serif;
padding: 0px;
box-sizing: border-box;
}

#menusuperior {
background-color: #303030;
color: #FFFFFF;
height: 475px;
width: 1440px;
}

#título-menusuperior{
    padding-top: 200px;
    margin-left: 62px;
    font-weight: 600;
font-size: 60px;
}

#texto-menusuperior{
    margin-left: 62px;
    font-weight: 500;
font-size: 20px;

   }

#menuinformacional{
    background: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
align-items: center;
padding-right: 40px;
height: 229px;
width: 1440px;
}

.ícones{
    margin-right: 114px;
   margin-left: 114px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#seçao-imagem{
    background: #F5F5F5;
   padding-top: 50px;
   padding-bottom: 50px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-right: 30px;
    width: 1440px;
    }

#imagem{
    justify-self: end;
    height: 605px;
    width: 510px;
    left: 876px;
    top: 781px;
    border-radius: 30px;
}

#título{
font-weight: bold;
font-size: 40px;
padding-top: 160px;
padding-right: 40px;
margin-left: 0px;
font-family: 'Inter', sans-serif;
font-weight: 700;
}

#texto-imagem{
text-align: justify;
margin-left: 62px;
font-size: 24px;
font-weight: 500;
padding-right: 40px;
justify-content: center;
line height: 20px;
}


#seçãoformulário{
    background: #303030;
    align-items: center;
    justify-content: center;
    width: 1440px;
}
   
#título-seçãoformulário{
    color: #FFFFFF;
   text-align: center;
    padding-top: 50px;
padding-bottom: 50px;
font-weight: 700;
font-size: 32px;
}

input{
    width: 508px;
    height: 72px;
    background: #FFFFFF;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 100px;
    font-size: 24px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 35%;
}

button{
    background: #C07212;
    width: 286px;
height: 74px;
    color: #FFFFFF;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
    left: 623px;
    top: 1977px;
    font-weight: 700;
font-size: 38px;
align-items: center;
font-family: 'Raleway', sans-serif;
margin-left: 42%;
}

button:hover{
background: #905309;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #d2ac7d;
    transition-duration: 0,5s;
}





    
